## **Import library**

In [ ]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
import numpy as np
import pandas as pd
import math
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process
from scipy.sparse import csr_matrix

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

## **Import file**

In [ ]:
movie_names = pd.read_csv("movies_metadata.csv")
movie_names.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
ratings_data = pd.read_csv("ratings_small.csv")
ratings_data = ratings_data.drop('timestamp', axis = 1)
ratings_data

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

## **Preprocessing**

In [ ]:
movie_data = pd.concat([ratings_data, movie_names], axis=1)
movie_data = movie_data.drop(['adult', 'belongs_to_collection', 'budget', 'genres',
                              'homepage', 'id', 'imdb_id', 'original_language',
                              'original_title', 'overview', 'popularity', 'poster_path',
                              'production_companies', 'production_countries',
                              'release_date', 'revenue', 'runtime', 'spoken_languages',
                              'status', 'tagline', 'video', 'vote_average', 'vote_count' ], axis=1)
movie_data.head()

   userId  movieId  rating                        title
0       1       31     2.5                    Toy Story
1       1     1029     3.0                      Jumanji
2       1     1061     3.0             Grumpier Old Men
3       1     1129     2.0            Waiting to Exhale
4       1     1172     4.0  Father of the Bride Part II

In [ ]:
print(movie_data['rating'].isnull().sum())
print(movie_data['movieId'].isnull().sum())
print(movie_data['userId'].isnull().sum())
print(movie_data['title'].isnull().sum())

0
0
0
54544

In [ ]:
movie_data.duplicated().sum()

0

In [ ]:
movie_data = movie_data[movie_data['title'].notna()]
movie_data.head()

   userId  movieId  rating                        title
0       1       31     2.5                    Toy Story
1       1     1029     3.0                      Jumanji
2       1     1061     3.0             Grumpier Old Men
3       1     1129     2.0            Waiting to Exhale
4       1     1172     4.0  Father of the Bride Part II

## **trend**

In [ ]:
grouped_data = movie_data.groupby('title')
trend_list = []
for name, group in grouped_data:
  trend_list.append( list([name,group['rating'].mean()]))
trend = pd.DataFrame(trend_list, columns=('title', 'rating')).sort_values('rating',ascending=False)
print(trend)

                               title  rating
25324                           Rapt     5.0
21730     My Sister's Kids in Africa     5.0
21907      Nasu: Summer in Andalusia     5.0
5317               Borderline Normal     5.0
21940                    Native Land     5.0
...                              ...     ...
39171                        Tremors     0.5
5981                  Cabaret Balkan     0.5
34640  The Lost World: Jurassic Park     0.5
34632                   The Lost Son     0.5
39535      Two Weeks in Another Town     0.5

[42277 rows x 2 columns]

## **Pivot**

In [ ]:
movies_users = movie_data.pivot(index=['movieId'], columns=['userId'], values='rating').fillna(0)
movies_users.head()

userId   1    2    3    4    5    6    7    ...  318  319  320  321  322  323  324
movieId                                     ...
1        0.0  0.0  0.0  0.0  0.0  0.0  3.0  ...  1.0  0.0  0.0  3.0  0.0  0.0  4.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  4.0
3        0.0  0.0  0.0  0.0  4.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 324 columns]

In [ ]:
movies_users[(movies_users<=3) & (movies_users!=0)] = -1
movies_users[movies_users>3] = 1
movies_users

userId   1    2    3    4    5    6    7    ...  318  319  320  321  322  323  324
movieId                                     ...
1        0.0  0.0  0.0  0.0  0.0  0.0 -1.0  ... -1.0  0.0  0.0 -1.0  0.0  0.0  1.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3        0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ... -1.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
160590   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
161155   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
161594   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
161944   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
162376   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[6477 rows x 324 columns]

In [ ]:
mat_movies_users=csr_matrix(movies_users.values)
mat_movies_users

<6477x324 sparse matrix of type '<class 'numpy.float64'>'
	with 45460 stored elements in Compressed Sparse Row format>

## **recommend**

In [ ]:
model_knn= NearestNeighbors(metric='euclidean', algorithm='auto', n_neighbors=20, n_jobs=-1).fit(mat_movies_users)
model_knn

NearestNeighbors(algorithm='auto', leaf_size=30, metric='euclidean',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [ ]:
def ConverMovieIdTOIndex(movieId):
  movies_id = movie_data['movieId']
  movies_id = movies_id.drop_duplicates().sort_values()
  movies_id = movies_id.reset_index(drop=True)
  dict_movie_id = movies_id.to_dict()
  keys = list(dict_movie_id.keys())
  vals = list(dict_movie_id.values())
  if movieId in vals:
    return(keys[vals.index(movieId)])
  else:
    return(-1)

In [ ]:
def RecommenderBasedOnTheMovie(movie_name, data, n_recommendations):
  movie_index = process.extractOne(movie_name, movie_names['title'])[2]
  print('Movie Selected: ',movie_names['title'][movie_index], ', Index: ', movie_index)
  print('Searching for recommendations.....')
  recommend_frame = []
  movie_id = ConverMovieIdTOIndex(movie_index)
  if(movie_id != -1):
    distances, indices = model_knn.kneighbors(data[movie_id], n_neighbors=n_recommendations)
    indices = indices.squeeze()
    distances = distances.squeeze()
    for i in range(len(indices) - 1):
      if indices[i] == movie_index:
        indices = np.delete(indices, i)
        distances = np.delete(distances,i)
    recc_movie_indices = sorted(list(zip(indices,distances)),key=lambda x: x[1])[0:-1:]
    for val in recc_movie_indices:
        recommend_frame.append([movie_names['title'][val[0]],val[1]])     
  return recommend_frame

In [ ]:
def recommendedTrendMovies(n_recommendation):
  df= pd.DataFrame(trend.head(n_recommendation), columns=('title', 'rating'))

  return df;

In [ ]:
def RecommenderBasedOnTheUser(userId, data, n_recommendation, my_movies):
  recommended_movies = []
  for i in my_movies['title']:
    recommended_movies.append(RecommenderBasedOnTheMovie(i, data, math.ceil(n_recommendation / len(my_movies))+ 2))
  recommended_movies = np.unique(recommended_movies, axis = 0)
  if np.all(recommended_movies== 0):
    np.delete(recommended_movies, [])
    df=pd.DataFrame()
  else:
    recommended_movies = np.resize(np.array(recommended_movies), (len(my_movies)*(n_recommendation - 1), 2))
    recommended_movies = np.unique(recommended_movies, axis = 0)
    recommended_movies = sorted(recommended_movies,key=lambda x: x[1])
    if recommended_movies == []:
      np.delete(recommended_movies, [])
      np.delete(recommended_movies,[])
    df = pd.DataFrame(recommended_movies[:n_recommendations], columns=('title', 'Distance'))
  
  return df;

In [ ]:
def movieRecommender(userId, data, n_recommendation):
  my_movies = movie_data[movie_data['userId'] == userId]
  my_movies = my_movies[my_movies['rating'] >= 4]
  if len(my_movies) == 0:
    df = recommendedTrendMovies(n_recommendation)
  else:
    if len(my_movies)> n_recommendations:
        df = RecommenderBasedOnTheUser(userId, data, n_recommendation, my_movies[0: n_recommendations] )
    else:
      df = RecommenderBasedOnTheUser(userId, data, n_recommendation, my_movies )
    if len(df)<n_recommendation:
      df = df.append(recommendedTrendMovies(n_recommendation-len(df)))
  df_title = pd.DataFrame(df.iloc[:,0])
  df_title = df_title.reset_index(drop=True)
  
  return df_title;

In [ ]:
n_recommendations = 2
df = movieRecommender(3, mat_movies_users, n_recommendations)
df

Movie Selected:  Heidi Fleiss: Hollywood Madam , Index:  97
Searching for recommendations.....
Movie Selected:  Mr. Wrong , Index:  100
Searching for recommendations.....

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

                         title
0  Last Summer in the Hamptons
1                  RiÂ¢hie RiÂ¢h